<div hidden="@IsHidden" class="loading">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

@code {

    [Parameter]
    public bool IsHidden { get; set; }

}