@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<PageTitle>Chatio</PageTitle>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="2" ShowProgressBar="true"/>

<div class="main">
    @Body
</div>
