<div style="width: 100%; bottom: 20px; position: fixed; display: flex; justify-content: center;">
    <div>
        Copyright &copy; 2022 by <a href="https://github.com/bartdeveloper/net6-blazor-signalr-chatio"><i>bartdeveloper</i></a>
    </div>
</div>
